@charset "UTF-8";

body, html{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: black;
    background-color: rgb(80, 80, 227);
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    width: 500px;
    height: 350px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.517);
}

div#res{
    padding-top: 10px;
}
select#flista{
    width: 200px;
}

footer{
    color: white;
    font-style: italic;
    text-align: center;
}

 
